body {
    background-color: black;
}

.wrapper {
    height: 1218px;
    width: 80%;
    margin: 0px auto;
    min-width: 330px;
}

nav {
    background-color: black;
    height: 50px;
    margin: 0 0 0 0;
    font-size: 25px;
}

    nav ul {
        text-align: center;
        list-style: none;
        margin: 0 auto;
        line-height: 25px;
    }

        nav ul li {
            display: inline;
        }

    nav a:link, nav a:visited {
        color: white;
        display: inline-block;
        padding: 10px 25px;
        height: 25px;
    }

    nav a:hover, nav a:active,
    nav .active a:link, nav .active a:visited {
        background-color: #ECE04E;
        color: black;
        border-radius: 5px;
    }

    nav ul li a {
        border-radius: 5px;
    }

.logo {
    width: 100%;
    height: 250px;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

    .logo img {
        border-radius: 0 0 10px 10px;
        margin-top: 2%;
    }

main {
    border: 1px solid red;
    float: left;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    color: white;
}

section {
    margin-top: 1%;
    float: right;
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 400px;
    color: white;
    background-color: black;
    font-size: 20px;
}

.comment{
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    margin: 0px auto;
    background-color: #F5F4F2;

}

.user{
    margin: 1% 0 0 2%;
    width: 80%;
    color: red;
}

.says{
    margin-top:1%;
    width: 20%;
    color: #232323;
}

.commentche{
    margin: 1% 0 0 2%;
    width: 90%;
    height: 60%;
    color: #232323;
}

#content {
    width: 100%;
    border-radius: 5px;
    padding: 2% 2%;
    margin: 1% 2% 0 0;
    width: 95%;
    height: 400px;

}

form{
    width: 30%;
    margin: 2% 0 0 35%;
    text-align: center;
}

    #username{
        width: 100%;
        height: 30px;
        border-radius: 15px;
    }    
    #commentText{
        width: 100%;
        height: 70px;
        margin-top: 10%;
    }
    form #subButton{
        margin-top: 9%;
    }


footer {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    float: left;
}

    footer .FooterProvide {
        width: 22%;
        margin: 0 0 0 5%;
        float: left;
    }

    footer h2 {
        color: #AFAFAF;
    }

    footer ul {
        width: 70%;
        font-size: 20px;
    }

        footer ul li {
            color: #AFAFAF;
            list-style-image: url("../images/tikche.png");
            font-size: 16px;
        }

    footer .menu ul li a {
        color: #AFAFAF;
        list-style-image: url("../images/tikche.png");
        font-size: 16px;
    }

.menu {
    width: 22%;
    height: 265px;
    float: left;
}

.SocialDiv {
    width: 45%;
    margin: 0 5% 0 0;
    height: 265px;
    float: right;
    text-align: center;
}

    .SocialDiv img {
        width: 15%;
    }

a {
    text-decoration: none;
}

@media only screen and (max-width: 970px) {

    .comment {
        width: 90%;
    }

}

@media only screen and (max-width: 817px) {
}

@media only screen and (max-width: 461px) {
}