@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
*{

}
html {
    font-size: 16px;
    font-family: "Droid Sans", arial, verdana, sans-serif;
}

body, html {
    font-family: "Droid Sans", arial, verdana, sans-serif;
    color: #ff6;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align:center;
}

header {
    background-color: darkred;
}
header img{
    height:250px;
}

p#start-second-row {
    text-align: left;
    margin: -6% auto;
}

div#opening-text-div {
    display: block;
    width: 34rem;
    margin: -2rem auto;
    text-align: center;
    font-size: 2rem;
    color: #4ee;
    opacity: 0;
    z-index:3;
    -webkit-animation: opening-text;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 10s;
    animation: opening-text ease-in-out;
    animation-iteration-count:1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes opening-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opening-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

h1#team-wars {
    width: 30rem; /*this dictates for some reason the shrinking vector*/
    margin: 0 auto; /*3rem for some reason defines the position of div titles-angle*/
    text-align: center;
    font-size: 10rem;
    font-weight: 700;
    line-height: 8rem;
    color: black;
    opacity: 0;
    text-shadow: -4px -4px 0px #ff6,4px -4px 0px #ff6, -4px 4px 0px #ff6, 4px 4px 0px #ff6;
    -webkit-animation: team-wars;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 11.5s;
    animation: team-wars;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-delay: 11.5s;
    animation-iteration-count:1;
    z-index:2;
}

@-webkit-keyframes team-wars {
    1% { /*needed for delay to work in chrome*/
        -webkit-transform: scale(0);
        opacity: 1;
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@keyframes team-wars {
    0% { 
        transform: scale(0); /*needed -webkit for the animation to work under firefox ?*/
        opacity: 1;
    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}
#titles-angle {
    overflow:hidden;
    position:absolute;
    top:16rem;
    width:40rem;
    height:50%;
    left:50%;
    margin-left:-20%;
    
    /*transform: perspective (300px) rotateX(15deg)*/
}

div#titles-text {
    position: absolute;
    top: 100%;
    animation: test linear 40s 15s;
}
@keyframes test{
    0% {
        top: 100%;
    }
    100%{
        top:-200%;
    }
}
@-webkit-keyframes crawl {

    0% {
        top: 100%;
        opacity:1;
    }
    99%{
        opacity:1;
    }
    100% {
        top: -170%;
    }
}

@keyframes crawl {

    0% {
        top: 20%;
        opacity:1;
    }
    99%{
        opacity:1;
    }
    100% {
        top: -500%;
        opacity:1;
    }
}


div#titles-text p {
    text-align: justify;
    margin: 1rem auto;
    font-weight: 400;
    font-size: 2rem;

}


div#titles-text .center {
    text-align: center;
    font-weight: 700;
    font-size: 300%;
}
img.cash{
    width:8rem;
    height:auto;
}
div#titles-text a {
    color: #ff6;
    text-decoration: underline;
}
footer p{
    display:block;
    margin-top: 10rem;
}
#buttons{
    top:80%;
    position:absolute;
    left:50%;
    margin-left:-6rem;
    text-align:center;
}
.button{
    
    font-family: "Droid Sans";
    background-color:yellow;
    border: 6px yellow;
    border-radius:0.5rem;
    color:black;
    font-size:20px;
    width:6rem;
}
form{
       opacity:0;
}
{

}