@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

.body {
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-size: 12px;
    color: #ff6;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkred;
}

.start-first-row span, .start-second-row {
    position: relative;
    width: 24em;
    top: 20%;
    left: 25%;
    font-weight: 400;
    text-align: center;
    font-size: 250%;
    overflow: hidden;
    color: #4ee;
    opacity: 0;
    z-index: 1;
    animation: intro ease-in-out 6s;
    /*background-color: #810808;*/
}

.start-second-row {
    text-align: left;
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#team-wars {
    position: absolute;
    width: 3em;
    left: 50%;
    top: -20%;
    font-size: 30em;
    margin-left: -1.5em;
    line-height: 0.8em;
    letter-spacing: -0.045em;
    font-weight: 700;
    color: black;
    opacity: 0;
    text-shadow: -4px -4px 0px #ff6,4px -4px 0px #ff6, -4px 4px 0px #ff6, 4px 4px 0px #ff6;
    animation: team-wars 10s ease-out 5s;
}
/*h1 sub{
    color:red;
    display:block;
    font-size:0.5em;
    letter-spacing:0;
    padding-left:0;
}*/
@keyframes team-wars {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.titles-angle {
    position: absolute;
    width: 32em;
    height: 50em;
    left: 22%;
    bottom: 30%;
    margin-left: -15%;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(150px) rotateX(45deg);
    -moz-transform: perspective(150px) rotateX(45deg);
    -ms-transform: perspective(150px) rotateX(45deg);
    -o-transform: perspective(150px) rotateX(45deg);
    transform: perspective(200px) rotateX(20deg);
}
.titles-text p{
    text-align:justify;
    margin: 0.8em 0;
    font-weight:400;
    font-size:200%;
}
.titles-text .center {
    text-align: center;
    font-weight: 700;
    font-size: 300%;
}
/*NEEDS SOME WORK HERE*/
titles-angle:after { 
    position:absolute;
    content: ' ';
    /*background-image: linear-gradient(top, rgba(0,0,0,1), 0%, transparent:100%);*/
}

.titles-text {
    position: absolute;
    animation: scroll 100s linear 8s;
     /*animation: scroll 100s linear 8s;*/
    top: 100%;
    opacity: 1;
    text-align:center;
    font-size:100%;
}
.titles-text a{
    color:#ff6;
    text-decoration:double;
}
@keyframes scroll {

    0% {
        top: 100%;
        opacity: 1;
    }

    100% {
        top: -170%;
    }
}
