body {
    background-color: white;
}

.wrapper {
    height: 1090px;
    width: 80%;
    margin: 0px auto;
    min-width: 330px;
    background-color: transparent;
}

nav ul li img {
    margin: 0 auto;
}

nav {
    background-color: #000000;
    height: 30px;
    margin: 0 0 0 0;
    border-radius: 10px 10px 0 0;   

}
    nav p{
        margin: 0 0 0 20px;
        color: white;
        font-size: 30px;
        font-style: italic;
      

        

    }
    nav ul {
        float: right;
        list-style: none;
        margin: 0%;
        line-height: 25px;
        background-color: #000000;
        border-radius: 5px;

    }

        nav ul li {
            display: inline;
        }

    nav a:link, nav a:visited {
        color: white;
        display: inline-block;
        padding: 0 10px 0 10px;
        height: 25px;
    }

    nav a:hover, nav a:active,
    nav .active a:link, nav .active a:visited {
        background-color: #C0D4B6;
        color: black;
        border-radius: 5px;
    }

    nav ul li a {
        border-radius: 5px;
        font-size: 20px;
    }

.logo {
    width: 100%;
    height: 200px;
    margin-top: 0px;
}

    .logo img {
        width: 100%;
        height: 200px;
        border-radius: 0 0 20px 20px;
    }

#main {
    float: right;
    border-radius: 5px;
    width: 100%;

}

#content {
    width: 100%;
    border-radius: 5px;
    padding: 2% 2%;
    margin: 1% 2% 0 0;
    width: 95%;
    height: 490px;
    background-color: transparent;
}
#content img{
    width: 460px;
    height: 200px;
    
    border-radius: 10px;
    margin-left: 1.8%;
    margin-top: 2%;
}
#aside {
    float: left;
    width: 25%;
    height: 40px;
    margin-left: 4%;
    overflow: hidden;
    border-bottom-right-radius: 40px;

}

#showMe{
    float: left;
    cursor: pointer;
    visibility: visible;
    background-color: white;
    border:0px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: black;
    font-size: 20px;
    border:2px solid black;
}
#hideMe{
    visibility: hidden;
    float: right;
    background-color: white;
    cursor: pointer;
    border:0px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: black;
    font-size: 20px;
    border:2px solid black;
}

.topSideBar {
    color: white;
    width: 90%;
    background-color: white;
    margin-left: 3%;
    padding: 2% 3%;
    border-top: 0px solid #161107;
}

    .topSideBar h2{
        text-align: center;
        color: #046380;
    }
.middleSideBar {
    width: 90%;
    background-color: white;
    margin: 0 0 0 3%;
    padding: 2% 3%;
}
    .middleSideBar h2{
        text-align: center;
        color: #046380;
    }
    .middleSideBar p{
        text-align: center;
        color: #046380;
    }
    .middleSideBar img{
        width: 100%;

    }
.bottomSideBar {
    width: 90%;
    background-color: white;
    margin: 0 0 0 3%;
    border-radius: 0 0 10px 10px;
    padding: 2% 3%;
}
    .bottomSideBar h2{
        text-align: center;
        color: #046380;
    }
    .bottomSideBar img{
        width: 100%;
        color: #046380;
    }
    .bottomSideBar p{
        text-align: center;
        color: #046380;
    }

section {
    margin-top: 1%;
    float: right;
    display: inline-block;
    width: 67%;
    border-radius: 5px;
    height: 190px;
    color: green;
}

.firstArticle {
    width: 22.4%;
    height: 170px;
    background-color: white;
    display: inline-block;
    margin: 1% 0 0 1%;
    cursor: pointer;
}

.secondArticle {
    width: 22.4%;
    height: 170px;
    background-color: white;
    display: inline-block;
    margin: 1% 0 0 1.5%;
    cursor: pointer;
}

.thirdArticle {
    width: 22.4%;
    height: 170px;
    background-color: white;
    display: inline-block;
    margin: 1% 2% 0 1.5%;
    cursor: pointer;
}

.fourthArticle {
    width: 22.4%;
    height: 170px;
    background-color: white;
    display: inline-block;
    margin: 1% 2% 0 0;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
    
    background-color: #000000;
    margin-top: 2%;
    margin-bottom: 0%;
    display: inline-block;
    float: left;

}

    footer .FooterProvide {
        width: 22%;
        margin: 0 0 0 5%;
        float: left;
    }

    footer h2 {
        color: #046380;
    }

    footer ul {
        width: 70%;
        font-size: 20px;
    }

        footer ul li {
            color: #046380;
            list-style-image: url("../images/tikche.png");
            font-size: 16px;
        }

    footer .menu ul li a {
        color: #046380;
        list-style-image: url("../images/tikche.png");
        font-size: 16px;
    }

.menu {
    width: 22%;
    height: 265px;
    float: left;
}

.SocialDiv {
    width: 45%;
    margin: 0 5% 0 0;
    height: 265px;
    float: right;
    text-align: center;
}

    .SocialDiv img {
        width: 15%;
    }

a {
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {

    nav img{
        display: none;
    }

}

@media only screen and (max-width: 970px) {

    nav{
        height: 100px;    
        text-align: center;
    }

    nav a{
        width: 16%;
        text-align: center;
    }

    .firstArticle, .secondArticle, .thirdArticle, .fourthArticle {
        margin: 1% 0 0 0.3%;
    }

}

@media only screen and (max-width: 817px) {

    nav{
        height: 150px;
        text-align: center;
    }


    #content{
        display: none;
    }

    section{
        width: 100%;
        height: 380px;
        text-align: center;
    }

    .firstArticle , .secondArticle , .thirdArticle , .fourthArticle {
        width: 45%;
        border-radius: 15px;
    }

    aside{
        width: 100%;
        margin-left: -3px;
        height: 450px;
    }

    .topSideBar , .middleSideBar , .bottomSideBar {
       
        width: 90%;
    }

    aside .topSideBar img{
        width: 24%;
    }

    footer{
        margin-bottom: 2%;
        height: 350px;
    }

    footer .menu{
        display: none;
    }

}

@media only screen and (max-width: 461px) {

    nav {
        height: 200px;
    }

    aside{
        height: 550px;
    }

    aside .topSideBar img{
        width: 44%;
    }

    footer .SocialDiv img{
        width: 35px;
    }
}